/* custom font */
@font-face {
    font-family: 'shadowFont';
    src: url('./shadowFont.woff2') format('woff2');
    font-style: normal;
}

body {
    background-image: 
    radial-gradient(circle, rgba(255,0,0,0.10) 10%, rgba(181,0,0,0.30) 60%, rgba(0,0,0,0.65) 100%),
    url('./burgers.jpg');
    height: 100vh;
    background-size: cover;
    color: white;
    font-family: 'shadowFont';
}

#content {
    width: 80vw;
    margin: auto;
    text-align: center;
}

a {
    font-family: 'shadowFont';
    font-size: 1.8em;
    font-weight: 800;
    color: white !important;
}

.nav-link.active {
    color: #495057 !important;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100vw;
}

footer, footer a {
    background-color: rgb(73, 73, 73);
    font-family: serif !important;
    font-size: 1rem !important;
    font-weight: 400 !important;
}