/* custom font */
@font-face {
    font-family: 'shadowFont';
    src: url('./shadowFont.woff2') format('woff2');
    font-style: normal;
}
/* jtabs */
@import '~node_modules/jtabs/lib/jtabs.css';

body {
    background-image: 
    radial-gradient(circle, rgba(255,0,0,0.10) 10%, rgba(181,0,0,0.30) 60%, rgba(0,0,0,0.65) 100%),
    url('./burgers.jpg');
    height: 100vh;
    background-size: cover;
    color: white;
}

.hello {
    color: white;
    font-family: 'shadowFont';
}