/* custom font */
@font-face {
    font-family: 'shadowFont';
    src: url('./shadowFont.woff2') format('woff2');
    font-style: normal;
}

body {
    background-image: 
    radial-gradient(circle, rgba(255,0,0,0.10) 10%, rgba(181,0,0,0.30) 60%, rgba(0,0,0,0.65) 100%),
    url('./burgers.jpg');
    height: 100vh;
    background-size: cover;
    color: white;
    font-family: 'shadowFont';
}

#content {
    background-color: rgba(0,0,0,0.8);
    width: 60vw;
    height: 85vh;
    margin: auto;
    text-align: center;
    color: white;
}

.tab-content, .tab-pane, #content {
    overflow: scroll;
}

table {
    display: block;
    width: 280px;
    margin: 80px auto 0 auto;
}

#home div {
    position: fixed;
    top: 61px;
    width: 380px;
    left: 50%;
    transform: translateX(-50%);
}

a {
    font-family: 'shadowFont';
    font-size: 1.8em;
    font-weight: 800;
    color: white !important;
}

.nav-link.active {
    color: #495057 !important;
}

h1, h2 {
    font-family: 'shadowFont';
}

#menu>div{
    width: auto;
}

ul {
    list-style: none;
    padding-left: 0;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100vw;
}

footer, footer a {
    background-color: rgb(73, 73, 73);
    font-family: serif !important;
    font-size: 1rem !important;
    font-weight: 400 !important;
}

#myInfo {
    color: white;
    float: right;
    padding-right: 5px;
}

#myInfo a {
    color: rgb(98, 98, 255) !important;
    text-decoration: underline;
}